<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Werewolf</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app" class="card-container">
        <div class="card-container-content">
            <div class="list-player-top">
                <div class="list-player-name">
                    {{ playerName }}
                </div>
                <div class="list-player-count">
                    ({{ players.length + 1 }})
                </div>
            </div>

            <div class="list-player-content">
                <div class="list-player-item" v-for="player in players">
                    {{player}}
                </div>
            </div>

            <div class="button-bar-container">
                <div class="button-bar">
                    <div onclick="back();" class="button-cancel">
                        CANCEL
                    </div>

                    <div class="button-next" onclick="joinServer()">
                        NEXT
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
<script type="text/javascript" src="vue.min.js"></script>
<script>
    var electron = require('electron');
    var currentWindow = electron.remote.getCurrentWindow();
    let playerName = currentWindow.global.playerName;
    let players = currentWindow.global.players;
    var app = new Vue({
        el: '#app',
        data: {
            playerName: playerName,
            players: players
        }
    });

    function back() {
        currentWindow.actions.back();
    }
</script>

</html>