body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: #fAfAfA;
    padding: 50px;
}

.card-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.card-container-content {
    border-radius: 5px;
    background: #fAfAfA;
    border: 3px solid #B1BCBE;
    color: #3D3D3D;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.card-top {
    height: 50%;
    width: 100%;
    margin: 0 auto;
    border-bottom: 3px solid #B1BCBE;
}

.card-bottom {
    height: 50%;
    width: 100%;
    margin: 0 auto;
}

.character {
    fill: #3D3D3D;
}

.card-title {
    margin-top: 10px;
    text-align: center;
    font-size: 18pt;
}

.card-title a {
    text-decoration: none;
    color: #3D3D3D;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: auto;
}

.card-image {
    margin: 0 auto;
}

.werewolf {
    width: 70%;
}

.wildcard {
    width: 50%;
}